<div class="announcements">
    
    <div *ngFor="let item of currentAnnouncements">
        <mat-card>

            <mat-card-header>
                <mat-card-title>
                    <p> {{item.title}} </p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p> {{item.author | author}} </p>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div>
                    <p> {{item.message}} </p>
                </div>
                <div>
                    <p> {{getCategoryName(item.categoryId)}} </p>
                </div>

                <img mat-card-image src="assets/img/{{item.imageUrl}}">

                <button mat-icon-button [routerLink]="['/edit', item.id]" class="edit-button">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button class="delete-button" routerLink="home" (click)="deleteAnnouncement(item.id!)" >
                    <mat-icon>delete</mat-icon>
                </button>  
            </mat-card-content>

        </mat-card>
    </div>
</div>