.button {
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
    height: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(188, 153, 245);
  }