.home-container {
    background-color:rgb(250, 228, 245);
    padding-left: 100px;
    padding-right: 100px;

    .container{
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: row;
        
        .announcements{
            display: flex;
            flex-direction: row;      
        }
    }
}